#map{
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url('https://c0.klipartz.com/pngpicture/221/582/sticker-png-medical-cannabis-hemp-graphics-logo-cannabis-cannabis-medical-cannabis-hemp-logo-joint.png'); /* ajusta la ruta de la imagen */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}